{% extends "landing/base.html" %}{% load static %}

{% block title %}Layanan{% endblock title %}

{% block content %}
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Layanan</h1>
        <p>Halaman kumpulan layanan yang kami lakukan.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Layanan</li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="blog-posts" class="blog-posts section">
      <div class="container">
        <div class="row gy-4">
          {% for layanan in all_layanan %}
          <div class="col-lg-4">
            <article>
              <div class="post-img">
                <a href="{% url 'layanan_detail' layanan_pk=layanan.pk %}">
                  <img src="{{ layanan.foto_layanan.url }}" alt="" class="img-fluid" loading="lazy">
                </a>
              </div>

              <p class="post-category">{% if layanan.tempat %}{{ layanan.tempat_layanan }}{% else %}-{% endif %}</p>

              <h2 class="title">
                <a href="{% url 'layanan_detail' layanan_pk=layanan.pk %}">{{ layanan.nama_layanan }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-date">
                    <time datetime="">
                      <span style="color: orange">
                        {{ layanan.mulai_pendaftaran|date:'d M' }} - {{ layanan.akhir_pendaftaran|date:'d M, Y' }}
                      </span>
                    </time>
                    <span>
                      |
                    </span>
                    <time datetime="">
                      <span style="color: green">
                        {{ layanan.tanggal_layanan|date:'d M' }} - {{ layanan.akhir_layanan|date:'d M, Y' }}
                      </span>
                    </time>
                  </p>
                </div>
              </div>

            </article>
          </div>
          {% endfor %}
        </div>
      </div>

    </section>

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            {% if all_layanan.has_previous %}
              <li><a href="?halaman={{ all_layanan.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
            {% endif %}

            {% for num in all_layanan.paginator.page_range %}
              {% if all_layanan.number == num %}
                <li><a href="#" class="active">{{ num }}</a></li>
              {% else %}
                <li><a href="?halaman={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endfor %}

            {% if all_layanan.has_next %}
              <li><a href="?halaman={{ all_layanan.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </section>

{% endblock content %}